ORIGIN=YOUR_ORIGIN
HOST=YOUR_HOST
PORT=YOUR_PORT
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB_NAME
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
MAILER_USER=YOUR_ORGANISATION_EMAIL
MAILER_PASSWORD=YOUR_ORGANISATION_PASSWORD
SIGN_ACCESS_TOKEN_PRIVATE="YOUR_SIGN_PRIVATE_ACCESS_TOKEN"
SIGN_ACCESS_TOKEN_PUBLIC="YOUR_SIGN_PUBLIC_ACCESS_TOKEN"
SIGN_REFRESH_TOKEN_PRIVATE="YOUR_SIGN_PRIVATE_REFRESH_TOKEN"
SIGN_REFRESH_TOKEN_PUBLIC="YOUR_SIGN_PUBLIC_REFRESH_TOKEN"
ALGOLIA_APPLICATION_ID=YOUR_ALGOLIA_APPLICATION_ID
ALGOLIA_ADMIN_KEY=YOUR_ALGOLIA_ADMIN_KEY
ALGOLIA_SEARCH_KEY=YOUR_ALGOLIA_SEARCH_KEY
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
S3_ACCESS_KEY_ID=YOUR_S3_ACCESS_KEY_ID
S3_ACCESS_KEY_SECRET=YOUR_S3_ACCESS_KEY_SECRET